QLabel#bead_picker {
    /*border: 1px solid red;*/
    margin: 6px 0px 0px 6px; /* top right bottom left */
}

QListWidget#bead_list {
    /*border: 1px solid blue;*/
    margin: 0px 0px 6px 6px; /* top right bottom left */
}

QLabel#editting_window {
    border-left: 1px solid lightgray;
    margin: 0;
    background: white;
}