QLabel#bead_picker {
    /* border-bottom: 1px solid red; */
    margin: 6px 0px 0px 6px; /* top right bottom left */
    /* padding-bottom: 3px; */
}

QLineEdit#list_search {
    /* border: 1px solid green; */
    margin: 0px 0px 0px 6px;
}

QListWidget#bead_list {
    /* border: 1px solid blue; */
    margin: 0px 0px 6px 6px; /* top right bottom left */
}

QLabel#editting_window {
    border-left: 1px solid lightgray;
    margin: 0;
    background: white;
}