QLineEdit#list_search {
    /* border: 1px solid green; */
    margin: 0px 0px 0px 6px;
}

QListWidget#bead_list {
    /* border: 1px solid blue; */
    margin: 0px 0px 6px 6px; /* top right bottom left */
}

QSpinBox#color {
    margin: 0px;
}

#editting_window {
    /* border-left: 1px solid lightgray; */
    padding: 10px;
    background-color: white;
}